catalog {
    background-color: white;
    width: 100%;
}
cd {
    height: 200px;
    width: 300px;
    background: cyan;
    border: 1px solid black;
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
    font-family:Arial, "Times New Roman", Times, serif;
}
cd {transform: rotate(20deg);}

title {
    display: block;
    color: #ff0000;
    font-size: 20pt;
}
artist {
    display: block;
    color: #0000ff;
    font-size: 20pt;
}
country, price, year, company {
    display: block;
    color: #000000;
    margin-left: 20pt;
}